# default port is 3000
PORT=3000
# url
URL=http://localhost:3000
# enviorment
NODE_ENV=production
# change image quality
IMAGE_QUALITY=500
# cache duration for static assets(eg: '2.5 days', 3600, 2m)
CACHE_PERIOD=1h