services:

  libremdb:
    container_name: libremdb
    image: ghcr.io/zyachel/libremdb:latest
    restart: unless-stopped
    ports:
      - "127.0.0.1:3000:3000" # Replace with "3000:3000" if you don't use a reverse proxy
    environment:
      - "NODE_ENV=production"
      - "PORT=3000"
      - "IMAGE_QUALITY=500" # change image quality
      - "CACHE_PERIOD=1h" # cache duration for static assets(eg: '2.5 days', 3600, 2m)

