@use '../../../abstracts/' as helper;

.error {
  --doc-whitespace: var(--spacer-8);
  --comp-whitespace: var(--spacer-5);

  padding: var(--doc-whitespace);
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: var(--comp-whitespace);

  @include helper.bp('bp-700') {
    --doc-whitespace: var(--spacer-5);
    --comp-whitespace: var(--spacer-3);
  }
  @include helper.bp('bp-450') {
    padding: var(--spacer-3);
  }
}

.gnu {
  --dim: 30rem;

  height: var(--dim);
  width: var(--dim);
  fill: var(--clr-fill);
}

.heading {
  text-align: center;
}

.stack {
  max-width: 90%;
  max-height: 20rem;
  padding: var(--spacer-3);
  white-space: pre-wrap;
  overflow: scroll;

  user-select: all;

  border-radius: var(--spacer-1);
  background-color: var(--clr-bg-muted);
}

.button {
  align-self: end;
  
  font: inherit;
  cursor: pointer;
  border: none;
  background: transparent;
  color: var(--clr-link);
  border-bottom: 2px solid var(--clr-link);
}
