@use '../../../abstracts' as helper;

.about {
  display: grid;
  --doc-whitespace: var(--spacer-8);
  --comp-whitespace: var(--spacer-5);

  padding: var(--doc-whitespace);
  gap: var(--doc-whitespace);

  @include helper.bp('bp-700') {
    --doc-whitespace: var(--spacer-5);
    // --comp-whitespace: var(--spacer-3);
  }

  @include helper.bp('bp-450') {
    padding: var(--spacer-3);
  }
}

.features {
  display: grid;
  gap: var(--comp-whitespace);

  &__heading {
    justify-self: center;
  }

  &__list {
    list-style: none;
    display: grid;
    gap: var(--comp-whitespace);
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    @include helper.bp('bp-900') {
      grid-template-columns: none;
    }
  }
}

.feature {
  display: grid;
  gap: var(--spacer-1);
  justify-content: center;
  justify-items: center;
  text-align: center;

  &__icon {
    --dim: var(--fs-1);

    max-width: unset;
    height: var(--dim);
    width: var(--dim);
    fill: var(--clr-fill);
  }
}

.faqs {
  display: grid;
  gap: var(--comp-whitespace);
  justify-items: center;

  &__heading {
    text-align: center;
  }

  &__list {
    display: grid;
    gap: var(--spacer-3);

    margin-inline: auto;
    width: min(100%, 120rem);
  }

  padding-block: var(--doc-whitespace);

  @include helper.bp('bp-900') {
    padding-block: var(--spacer-3);
  }
}

.faq {
  border: 1px solid var(--clr-fill-muted);

  &__summary {
    list-style: none;
    padding: var(--spacer-2);
    font-size: 1.05em;

    cursor: pointer;

    // for icon
    display: flex;
    justify-content: space-between;
    &::after {
      content: '+';
      font-weight: bold;
    }

    // fix for webkit(not including blink)
    &::-webkit-details-marker {
      display: none;
    }
  }

  &__description {
    padding: var(--spacer-2);
    padding-top: 0;
  }

  &[open] {
    border-color: var(--clr-fill);
  }

  &[open] &__summary::after {
    content: '\2212'; // minus sign
    color: var(--clr-fill);
  }
}
