mixin list-maker(name, link)
  li.footer__nav-item
    a.footer__link(class=`${page === name ? 'footer__link--active' : ''}`,href=link)= name

footer.footer 
  .footer__logo-box 
    svg.footer__logo: use(href='/img/misc/sprite.svg#icon-logo')
    span.footer__logo-text libremdb


  ul.footer__nav
    //- +list-maker('Home Page','/')
    +list-maker('About','/about')
    +list-maker('Privacy','/privacy')
    +list-maker('Contact','/contact')
    li.footer__nav-item
      a.footer__link(href="#") Back to top 

  .footer__text
    p.footer__disclaimer 
      span.footer__name libremdb&nbsp;
      | takes no credit for the movies shown and the all the accompanying data.
    p.footer__copyleft
      a.footer__link(href='https://github.com/zyachel/libremdb') Code
      | &nbsp;for the website and the server is licensed under&nbsp;
      a.footer__link(href='https://www.gnu.org/licenses/agpl-3.0-standalone.html') GNU AGPLv3