extends base
block append header
  .header__text-box
    h1.heading.heading__primary.header__main-text A FOSS alternative front-end to IMDb
    h2.header__sub-text Inspired by projects like 
      a.header__sub-text.header__sub-text-links(href="https://codeberg.org/teddit/teddit") teddit
      span ,&nbsp;
      a.header__sub-text.header__sub-text-links(href="https://github.com/zedeus/nitter") nitter
      span &nbsp;and&nbsp;
      a.header__sub-text.header__sub-text-links(href="/similar-projects") many others
      | .
    a.button.button__primary.header__button(href='#features') features

block content
  main.main.about
    .about__features#features 
      h2.heading.heading__secondary.about__features-heading Features
      .features
        .feature
          svg.feature__icon: use(href='/img/misc/sprite.svg#icon-eye-slash')
          h3.heading.heading__tertiary.feature__title No ads or tracking
          p.feature__text Browse any movie info without being tracked or bombarded by annoying ads.

        .feature
          svg.feature__icon: use(href='/img/misc/sprite.svg#icon-link-slash')
          h3.heading.heading__tertiary.feature__title No connection to IMDb
          .feature__text All requests go through the backend; client never talks to IMDb except for a bunch of requests to m.media-amazon.com for images. 

        .feature
          svg.feature__icon: use(href='/img/misc/sprite.svg#icon-code-document')
          h3.heading.heading__tertiary.feature__title No JavaScript required
          p.feature__text Just a few lines(50 or so) of code to save theme preference, which itself is optional.

        .feature
          svg.feature__icon: use(href='/img/misc/sprite.svg#icon-feather')
          h3.heading.heading__tertiary.feature__title Lightweight
          p.feature__text up movie page: 
            br
            | libremdb: ~35 HTTP requests(1.35MB) vs IMDb: ~280 requests(7.75MB)

        .feature
          svg.feature__icon: use(href='/img/misc/sprite.svg#icon-palette')
          h3.heading.heading__tertiary.feature__title Modern interface
          p.feature__text Modern interface with curated colors supporting both dark and light themes.

        .feature
          svg.feature__icon: use(href='/img/misc/sprite.svg#icon-responsive')
          h3.heading.heading__tertiary.feature__title Responsive design
          p.feature__text Be it your small mobile or big computer screen, it's fully responsive.


    .about__faqs#faqs
      h2.heading.heading__secondary.about__faqs-heading Frequently asked questions
      .faqs
        details.faq
          summary.faq__question This website is so basic!
          p.faq__answer  Yes, it is! I don't think a website that shows you some quick info of something needs to be overly fancy.
        details.faq
          summary.faq__question This website is slow.
          p.faq__answer Whenever you request info about a movie/show on libremdb, 4 trips are made(2 between your browser and libremdb's server, and 2 between libremdb's server and IMDb's server) instead of the usual 2 trips when you visit a website. For this reason there's a noticable delay. This is a bit of inconvenience you'll have to face should you wish to use this website.
        details.faq
          summary.faq__question It doesn't have all routes.
          p.faq__answer  I think most of the people just check IMDb to get a quick glimpse of a movie/show. That's why there is just one route for now. However, I will try to implement other important routes if time allows. More info on&nbsp;
            a.faq__link(href='https://github.com/zyachel/libremdb') Github
            | .
        details.faq
          summary.faq__question Why is libremdb connecting to m.media-amazon.com?
          p.faq__answer For now, images are directly served from amazon. If I have enough time in the future, I'll implement a way to serve the images from libremdb instead.
        details.faq
          summary.faq__question Will amazon track me then?
          p.faq__answer They may log your IP address. I'd recommend using a VPN for mitigating this risk.
        details.faq
          summary.faq__question Why not just use IMDb?
          p.faq__answer  Refer to the&nbsp;
            a.faq__link(href='#features') features section
            | &nbsp;above.
        details.faq
          summary.faq__question Why didn't you use other databases like&nbsp;
            a.faq__link(href="https://www.themoviedb.org/") TMDB
            |&nbsp;or&nbsp;
            a.faq__link(href="https://www.omdbapi.com/") OMDb
            | ?
          p.faq__answer IMDb simply has superior dataset compared to all other alternatives. With that being said, I'd encourage you to check out those alternatives too.
        details.faq
          summary.faq__question Your website name is very, ehm, lame.
          p.faq__answer Let's just say I'm not very good at naming things.
        details.faq
          summary.faq__question I have some ideas/want to contribute, how do I contact you?
          p.faq__answer  Here are a couple of ways to&nbsp;
            a.faq__link(href="/contact") reach me
            |. Send your beautiful suggestions or just drop a hi.