doctype html
html(lang="en")
  head
    //- essential stuff
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title} | libremdb
    meta(name="description", content="A Free and Open Soruce alternative front-end to IMDb. Look up movie overviews without being tracked.")
    //- preloading these for performance gains
    link(rel="preload stylesheet", href="/css/styles.css", as='style' crossorigin)
    link(rel="preload", href="/font/Montserrat-SemiBold.woff2", as="font", type="font/woff2" crossorigin)
    link(rel="preload", href="/font/NunitoSans-Regular.woff2", as="font", type="font/woff2" crossorigin)
    script(src="/js/index.js", defer) 
    //- for favicons and stuff
    meta(name='color-scheme', content='light dark')
    meta(name='theme-color', content='#0f2c67')
    meta(name='msapplication-TileColor', content='#b91d47')
    link(rel='apple-touch-icon', sizes='180x180', href='/favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon/favicon-16x16.png')
    link(rel='manifest', href='/site.webmanifest')
    link(rel='mask-icon', href='/favicon/safari-pinned-tab.svg', color='#5bbad5')

  body
  //input is actually a checkbox hack to enable changing themes without js
  input#theme-switcher.theme-switcher__input(type="checkbox", name="theme switcher checkbox")
  .page
    include _header

    block content
      h1 this is a placeholder text
    include _footer
