extends base

block content 
  main.main.contact 
    h1.heading.heading__primary.contact__heading Got any feedback?
    p.contact__text reach me via:

    .contact__mediums
      .contact__medium
        p.contact__medium-name [matrix]
        figure.contact__ways
          img.contact__ways-image(src="/img/contact/matrix.png", alt="QR Code for matrix")
          figcaption.contact__ways-text 
            a.contact__ways-link(href="https://matrix.to/#/@ninal:matrix.org") @ninal:matrix.org
      .contact__medium
        p.contact__medium-name Email
        figure.contact__ways
          img.contact__ways-image(src="/img/contact/email.png", alt="QR Code for email")
          figcaption.contact__ways-text 
            a.contact__ways-link(href="mailto:aricla@protonmail.com") aricla@protonmail.com
