@use '../../../abstracts' as helper;

.button, .link {
  --text: var(--clr-link);

  padding: var(--spacer-1) var(--spacer-2);
  font: inherit;
  text-decoration: none;

  background: transparent;
  color: var(--text);
  border: 2px solid currentColor;
  border-radius: 5px;
  cursor: pointer;

}

:root {
  &:not([data-js]) .button, &[data-js] .link {
    display: none;
  }
}
