// importing as scss vars
@use 'abstracts' as *;

////////////////////////////////////////////////////////////////
//                           HEADER
////////////////////////////////////////////////////////////////
.header {
  // color: #fff;
  background: var(--clr-hf-bg);
  // min-height: 10vh;
  padding: 3rem 5rem;
  // position: relative;
  // border-radius: 0 0 3rem 3rem;

  &__nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-box {
    display: inline-block;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: var(--fs-200);

    @include bp(bp-400) {
      font-size: var(--fs-180);
    }
  }

  &__logo {
    height: 1.75em;
    width: 1.75em;
    fill: var(--clr-hf-logo);
  }

  &__logo-text {
    margin-left: 0.2em;
    font-family: var(--ff-alt-alpha);
    font-weight: 700;
    color: var(--clr-hf-logo);
  }

  &__nav,
  &__nav-links {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
  }

  &__nav-item {
    list-style: none;
    margin-right: var(--spacer-500);

    @include bp(bp-550) {
      margin-right: var(--spacer-300);
    }

    @include bp(bp-450) {
      &:last-of-type {
        display: none;
      }
      // &:not(:first-of-type) {
      //   display: none;
      // }
    }
    @include bp(bp-400) {
      margin-right: var(--spacer-200);
    }
  }

  &__link {
    text-decoration: none;
    font-size: var(--fs-180);
    // text-transform: uppercase;
    font-weight: 700;
    color: var(--clr-hf-link);
    @include underliner(var(--clr-hf-link-hover), transparent, false);
    transition: all 0.2s;

    &:hover {
      color: var(--clr-hf-link-hover);
    }

    @include bp(bp-400) {
      font-size: var(--fs-160);
    }
  }

  &__text-box {
    display: grid;
    grid-template-rows: 3fr max-content 2fr 1fr; // 1fr is empty row. cause i don't like messing with margins and stuff
    gap: var(--spacer-300);
    // padding: 2rem;
    text-align: center;
  }

  &__main-text {
    align-self: end;
    font-weight: 700;
    font-size: var(--fs-400);
    color: var(--clr-hf-text);

    @include bp(bp-725) {
      font-size: var(--fs-350);
    }

    @include bp(bp-450) {
      font-size: var(--fs-300);
    }
  }

  &__sub-text {
    font-size: var(--fs-200);
    color: var(--clr-hf-text-alt-alpha);
    font-weight: 600;

    @include bp(bp-725) {
      font-size: var(--fs-180);
    }
  }

  &__sub-text-links {
    text-decoration: none;
    color: var(--clr-hf-link);
    @include underliner(var(--clr-hf-link-hover), var(--clr-hf-link), false);

    transition: all 0.2s;

    &:hover {
      color: var(--clr-hf-link-hover);
    }
  }

  &__button {
    justify-self: center;
    align-self: center;
    color: var(--clr-button-text);
    background-color: var(--clr-button);

    &:hover,
    &:active {
      background-color: var(--clr-button-hover);
    }
  }

  @include bp(bp-725) {
    padding: 3rem 2rem;
  }
  @include bp(bp-450) {
    padding: 2rem;
  }
  @include bp(bp-350) {
    padding: 2rem var(--spacer-100);
  }
}

////////////////////////////////////////////////////////////////
//                           FOOTER
////////////////////////////////////////////////////////////////
.footer {
  padding: 5rem 10rem;
  display: grid;
  justify-items: center;
  gap: var(--spacer-300);

  background: var(--clr-hf-bg);

  &__logo-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    @include bp(bp-450) {
      margin-bottom: 0;
    }
  }

  &__logo {
    height: 8rem;
    width: 8rem;
    fill: var(--clr-hf-logo);

    @include bp(bp-725) {
      height: 6rem;
      width: 6rem;
    }
  }

  &__logo-text {
    // letter-spacing: 2px;
    padding-top: 0.5rem;
    font-size: var(--fs-350);
    font-family: var(--ff-alt-alpha);
    font-weight: 700;
    color: var(--clr-hf-logo);

    @include bp(bp-725) {
      font-size: var(--fs-250);
    }
  }

  &__nav {
    justify-self: stretch;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;

    @include bp(bp-725) {
      gap: 2rem;
    }
    @include bp(bp-550) {
      display: grid;
    }
  }

  &__nav-item {
    flex: 1 0 10rem;
    list-style: none;
    text-align: center;
    font-size: var(--fs-180);
  }

  &__link {
    text-decoration: none;
    color: var(--clr-hf-link);
    font-weight: 600;

    @include underliner(var(--clr-hf-link-hover), transparent, false);

    transition: all 0.2s;

    &--active {
      color: var(--clr-hf-link-hover);
      border-bottom: 2px solid var(--clr-hf-link-hover);
    }

    &:hover {
      color: var(--clr-hf-link-hover);
    }
  }

  &__text {
    // align-self: center;
    text-align: center;
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: var(--fs-180);
    color: var(--clr-hf-text);
  }

  &__name {
    font-family: var(--ff-alt-alpha);
    font-weight: 700;
  }

  @include bp(bp-725) {
    padding: 5rem;
  }

  @include bp(bp-550) {
    padding: 4rem 2rem;
  }

  @include bp(bp-400) {
    gap: var(--spacer-200);
    padding: var(--spacer-200);
  }
}

////////////////////////////////////////////////////////////////
//                           MAIN
////////////////////////////////////////////////////////////////
.main {
  // max-width: 200rem;
  // margin-inline: auto;
  padding: 2rem;

  @include bp(bp-450) {
    padding: 2rem 1.5rem;
  }
}
