@use '../../../abstracts' as helper;

.container {
  display: grid;
  gap: var(--comp-whitespace);
  margin-inline: auto; // for when cast members are so few that the container doesn't scroll
}

.cast {
  --max-width: 15rem;
  --min-height: 35rem;
  list-style: none;
  overflow-x: auto;

  display: grid;
  grid-auto-flow: column;
  gap: var(--spacer-4);
  padding: 0 var(--spacer-2) var(--spacer-3) var(--spacer-2);

  grid-auto-columns: var(--max-width);
  min-height: var(--min-height);

  @include helper.bp('bp-700') {
    --min-height: 30rem;
  }
}
