@use '../../../abstracts' as helper;

.morelikethis {
  display: grid;
  gap: var(--comp-whitespace);
}

.container {
  --max-width: 20rem;
  --min-height: 50rem;

  list-style: none;
  overflow-x: auto;

  display: grid;
  grid-auto-flow: column;
  gap: var(--spacer-4);
  padding: 0 var(--spacer-2) var(--spacer-3) var(--spacer-2);

  grid-auto-columns: 20rem;
  min-height: 50rem;

  > li {
    list-style: none;
  }

  @include helper.bp('bp-700') {
    grid-auto-columns: 17rem;
    min-height: 37rem;
  }
}

.item {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: var(--clr-shadow);

  height: 100%;
  display: grid;
  grid-template-rows: minmax(auto, 70%) auto;

  background-color: var(--clr-bg-accent);
  text-decoration: none;
  color: currentColor;

  &__imgContainer {
    justify-self: stretch;
    position: relative;

    // for icon when image is unavailable
    display: grid;
    place-items: center;
  }
  &__textContainer {
    display: grid;
    gap: var(--spacer-1);
    padding: var(--spacer-1);
    // place-content: center;
    text-align: center;
    justify-items: center;
    align-content: start;
  }

  &__img {
    height: 100%;
    object-fit: cover;
  }

  &__imgNA {
    fill: var(--clr-fill-muted);
    height: 40%;
    // vertical-align: center;
  }

  &__heading {
  }

  &__genres {
  }

  &__rating {
    // font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: var(--spacer-0);
    line-height: 1;

    flex-wrap: wrap;
    justify-content: center;
  }

  &__ratingNum {
  }

  &__ratingIcon {
    --dim: 1em;
    height: var(--dim);
    width: var(--dim);
    fill: var(--clr-fill);
  }

  &:hover {
    background-color: var(--clr-bg-muted);
  }
}
