@use '../../../abstracts' as helper;


.names {
  display: grid;
  gap: var(--spacer-6);
  --min-width: 55rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));
  
  @include helper.bp('bp-700') {
    grid-template-columns: auto;
    gap: var(--spacer-5);
  }

  @include helper.bp('bp-450') {
    gap: var(--spacer-3);
  }
}

.name {
  --image-dimension: 18rem;

  display: grid;
  grid-template-columns: var(--image-dimension) auto;

  @include helper.bp('bp-700') {
    --dimension: 15rem;
    grid-template-columns: auto;
    grid-template-rows: var(--image-dimension) auto;
  }
}
.imgContainer {
  display: grid;
  place-items: center;
  position: relative;
}

.img {
  object-fit: cover;
  object-position: center 25%; // most of the time, person's face is visible at 1/4 of height in a potrait image.
}

.imgNA {
  width: 80%;
  fill: var(--clr-fill-muted);
}

.info {
  display: grid;
  padding: var(--spacer-3);
  gap: var(--spacer-0);

  @include helper.bp('bp-450') {
    padding: var(--spacer-1);
  }

  & :empty {
    display: none;
  }
}

.heading {
  font-size: var(--fs-4);
  text-decoration: none;
}


.basicInfo {
  display: flex;
  list-style: none;
  flex-wrap: wrap;

  & * + ::before {
    content: '\00b7';
    padding-inline: var(--spacer-1);
    font-weight: 900;
    line-height: 0;
    font-size: var(--fs-5);
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

