.nav {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  gap: var(--spacer-3);

  [aria-hidden="true"] {
    cursor: not-allowed;
  }

  li {
    text-align: center;
  }
}

