@use '../../../abstracts' as helper;

.name {
  --doc-whitespace: var(--spacer-8);
  --comp-whitespace: var(--spacer-3);

  display: grid;

  gap: var(--doc-whitespace);
  padding: var(--doc-whitespace);
  align-items: start;

  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    'basic   basic   basic   basic   basic   basic   basic   basic'
    'media   media   media   media   media   media   media   media'
    'text    text    text    text    text    info    info    info'
    'credits credits credits credits credits credits credits credits';

  @include helper.bp('bp-1200') {
    grid-template-columns: none;
    grid-template-areas:
      'basic'
      'media'
      'known'
      'text'
      'info'
      'credits';
  }

  @include helper.bp('bp-700') {
    --doc-whitespace: var(--spacer-5);
  }

  @include helper.bp('bp-450') {
    padding: var(--spacer-3);
  }
}

.basic {
  grid-area: basic;
}

.media {
  grid-area: media;
}

.credits {
  grid-area: credits;
}

.textarea {
  grid-area: text;
  display: grid;

  gap: var(--doc-whitespace);
}

.infoarea {
  grid-area: info;
  display: grid;

  gap: var(--doc-whitespace);
}
