.basicInfo {
  display: flex;
  list-style: none;
  flex-wrap: wrap;

  & * + ::before {
    content: '\00b7';
    padding-inline: var(--spacer-1);
    font-weight: 900;
    line-height: 0;
    font-size: var(--fs-5);
  }
}
