@use '../../../abstracts' as helper;


.basicInfo,
.seriesInfo {
  display: flex;
  list-style: none;
  flex-wrap: wrap;

  & :not(:last-child)::after {
    content: '\00b7';
    padding-inline: var(--spacer-1);
    font-weight: 900;
    line-height: 0;
    font-size: var(--fs-5);
  }
}

.stars {
  span {
    font-weight: var(--fw-bold);
  }
}
